button{
    border: none;
    border-radius: 5px;
    color: #fff;
    padding: 5px;
    font-size: 20px;
    margin: 5px;
}

button:nth-child(odd){
    background-color: #193387;
}

button:nth-child(even){
    background-color: #dc3545;
}